.verifyPopup {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  z-index: 100;
  align-items: center;
  background-color: rgba($color: #111, $alpha: 0.8);
  .container {
    width: 90%;
    max-width: 400px;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    display: flex;

    row-gap: 15px;

    .messageContainer {
      margin: 0 auto;
      width: 90%;
      input,
      input {
        width: 100%;
        border: 1px solid #aaa;
       
        outline: none;
        border-radius: 4px;
        margin-top: 15px;
        padding: 5px 10px;
        font-size: 15px;
      }
      label {
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      column-gap: 5px;
      align-items: center;
      & > * {
        padding: 4px 10px;
        border-radius: 2px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #f2f3f4;
        }
      }
      .cancel {
      }
      .delete {
        color: var(--green);
        text-decoration: none;
        border: none;
      }
    }
  }
}
