

.app{
    width: 100%;
    .pages{
        margin-top: 70px;
        min-height: calc(100vh - 187px);
    }
    .header{
        width: fit-content;
        margin: 16px auto;
        font-size: 22px;
        font-weight: 500;
    }
    .searchContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
        column-gap: 10px;
        row-gap: 10px;
        input{
            
            
        }
    }
    input{
        border: 1px solid #999;
        outline: none;
        font-size: 16px;
        padding: 2px 5px;
        border-radius: 2px;
        &:focus{
            border: 1px solid #444;
        }
    }
    .example{
        padding:8px  16px;
        background-color: var(--light-color);
        margin-bottom: 10px;
        border-radius: 3px;
    }
}